node_modules
src/main/webapp/bower_components/
*.class

# Package Files #
*.jar
*.war
*.ear

.settings
target
.classpath
.project
.springBeans
.metadata
.recommenders

bin
build
.gradle

# Intellij
.idea/
*.iml
*.iws

#ignore log file
*.log
